@import '~bootstrap/scss/bootstrap';

$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

body {
  background-color: $white;
}

.box {
  align-items: center;
  border: 3px solid $black;
  color: $black;
  display: flex;
  height: 150px;
  justify-content: center;
}

h1 {
  text-align: center;
}

.turn {
  display: none;
  text-align: center;
}

.nav {
  align-self: center;
}

.win-text {
  text-align: center;
}

.logged-in {
  display: none;
}

.container {
  display: none;
}

#box-1 {
  border-left: 0;
  border-top: 0;
}

#box-2 {
  border-top: 0;
}

#box-3 {
  border-right: 0;
  border-top: 0;
}

#box-4 {
  border-left: 0;
}

#box-6 {
  border-right: 0;
}

#box-7 {
  border-bottom: 0;
  border-left: 0;
}

#box-8 {
  border-bottom: 0;
}

#box-9 {
  border-bottom: 0;
  border-right: 0;
}

// #sign-in {
//   display: none;
// }
//
// #sign-up {
//   display: none;
// }
